@font-face {
    font-family: 'Nesovremenny Bold';
    src: url("../fonts/Nesovremenny-Bold.otf") format('opentype');
}

.container {
    width: 500px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container .input {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    color: black;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    padding: 0 5px;
}

.container .actions {
    margin-bottom: 10px;
}

.container .button {
    background-color: white;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 12px 15px;
    text-transform: uppercase;
    border: 2px solid black;
    font-size: 15px;
    width: 207px;
    text-align: center;
    margin: 20px 0;
    color: black;
    cursor: pointer;
    outline: none;
}

.container .button:hover {
    background-color: aquamarine;
}

.container .button-save:hover {
    background-color: lightskyblue;
}

.result {
    font-family: 'Nesovremenny Bold', monospace;
    font-size: 70px;
    line-height: 0.75;
}

.radio-block {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.radio[type="radio"]:checked,
.radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio[type="radio"]:checked + label,
.radio[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.radio[type="radio"]:checked + label:after,
.radio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.indent {
    padding: 0 5px;
}

.index {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.aalt-1 {
    font-feature-settings: "aalt" 1;
}

.aalt-2 {
    font-feature-settings: "aalt" 2;
}

.aalt-3 {
    font-feature-settings: "aalt" 3;
}

.aalt-4 {
    font-feature-settings: "aalt" 4;
}

.aalt-5 {
    font-feature-settings: "aalt" 5;
}

.aalt-6 {
    font-feature-settings: "aalt" 6;
}

.aalt-7 {
    font-feature-settings: "aalt" 7;
}

.aalt-8 {
    font-feature-settings: "aalt" 8;
}

.aalt-9 {
    font-feature-settings: "aalt" 9;
}